{% extends 'base.html.twig' %}

{% block title %}
    Add Office
{% endblock %}

{% block header %}
    <h3 class="page-title">User creation</h3>
{% endblock %}

{% block body %}
{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.title) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.address) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.postCode) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.phoneNumber) }}
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" type="submit" value="Save">Save</button>
                    <a class="btn btn-dark" href="{{ path('home_page') }}">Back to the list</a>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}