{% for key, office in offices %}
    {% set companyHeading = office.title %}
    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
        <div class="profile-widget">
            <div class="profile-img">
                <a href="#" class="avatar">
{#                    <img src="{{ asset('build/assets/public/assets/img/profiles/avatar-29.jpg') |imagine_filter('profile_pic') }}" alt="profile-pic"/>#}
                </a>
            </div>
            <div class="dropdown profile-action">
                {% if ADMIN_USER %}
                    <a class="dropdown-item" href="{{ path('office_edit', { 'id': office.id }) }}" data-toggle="" data-target=""><i class="fa fa-pencil m-r-5"></i> Edit</a>
                    <a class="dropdown-item delete-modal" href="javascript:void(0);" data-route="{{ path('office_delete', {'id': office.id }) }}" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                {% endif %}
            </div>
            <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a href="javascript:void(0);"><span class="text-secondary">#{{ office.id }}</span> {{ office.title }} </a></h5>
            <h6 class="company-name m-t-10 mb-0 text-ellipsis"><a href="javascript:void(0);"><i class="fa fa-building" aria-hidden="true" style="color: #ff9b44"></i>&nbsp;{{ office.address }}</a></h6>
            <div class="small text-muted">{{ office.phoneNumber }}</div>
        </div>
    </div>
{% endfor %}