{% for key, office in offices %}
    {% set companyHeading = office.title %}
    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
        <div class="profile-widget">
            <div class="profile-img">
                <a href="{{ path('office_view', {'id': office.id}) }}" class="avatar">
                    {% if office.logo %}
                        <img src="{{ asset('uploads/logos/' ~ office.logo) |imagine_filter('office_logo') }}" alt="profile-pic"/>
                    {% else %}
                        <img src="{{ asset('assets/images/avatar.jpg') |imagine_filter('office_logo') }}" alt="profile-pic"/>
                    {% endif %}
                </a>
            </div>
            <div class="dropdown profile-action">
                {% if ADMIN_USER %}
                    <a class="dropdown-item" href="{{ path('office_edit', { 'id': office.id }) }}" data-toggle="" data-target="">
                        <i class="fa fa-pencil m-r-5"></i> </a>
                    <a class="dropdown-item delete-modal" href="javascript:void(0);" data-route="{{ path('office_delete', {'id': office.id }) }}" data-toggle="modal" data-target="#delete_office">
                        <i class="fa fa-trash-o m-r-5"></i>
                    </a>
                {% endif %}
            </div>
            <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a href="javascript:void(0);">
                    <span class="text-secondary">#{% if officeWiseOccupancy|length and officeWiseOccupancy[office.title] is defined %}
                        {{ officeWiseOccupancy[office.title] }} {% else %} 0 {% endif %} / {{ office.officeCapacity }}
                    </span> {{ office.title }} </a></h5>
            <h6 class="company-name m-t-10 mb-0 text-ellipsis">
                <a href="javascript:void(0);"><i class="fa fa-building" aria-hidden="true" style="color: #ff9b44"></i>&nbsp;{{ office.address }}</a>
            </h6>
            <div class="small text-muted">{{ office.phoneNumber }}</div>
        </div>
    </div>
    {% include 'office/delete_modal.html.twig' %}
{% endfor %}