{% extends 'base.html.twig' %}

{% block title %}
    Office View
{% endblock %}

{% block header %}
    <h3 class="page-title">Office View</h3>
{% endblock %}

{% block body %}
    <div class="card mb-0">
        <div class="card-body">
            <div class="row">
                {% if office %}
                    <div class="col-md-12">
                        <div class="profile-view">
                            <div class="profile-img-wrap">
                                <div class="profile-img">
                                    <a href="#" class="avatar">
                                        {% if office.logo %}
                                            <img src="{{ asset('uploads/logos/' ~ office.logo) |imagine_filter('office_logo') }}" alt="profile-pic"/>
                                        {% else %}
                                            <img src="{{ asset('assets/images/avatar.jpg') |imagine_filter('office_logo') }}" alt="profile-pic"/>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="profile-basic">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="profile-info-left">
                                            <h3 class="user-name m-t-0">{{ office.title }}</h3>
                                            <h5 class="company-role m-t-0 mb-0">Created By</h5>
                                            <small class="text-muted">{{ office.createdBy }}</small>
                                            <div class="staff-id">Employee ID : {{ user.employeeId }}</div>
                                            {% if checkOfficeCapacity is defined and not checkOfficeCapacity %}
                                                <div class="staff-msg">
                                                    Office exceed with capacity please choose different office form the office list
                                                </div>
                                            {% elseif officeOccupancyStatus is defined and flag and (officeOccupancyStatus|length ==0 or officeOccupancyStatus[0] == 2) %}
                                                <div class="staff-msg">
                                                    <a data-toggle="modal"  data-target="#entry_office" data-route="{{ path('office_entry', {'id': office.id}) }}"
                                                       class="btn btn-custom common-modal">Entry</a>
                                                </div>
                                            {% elseif officeOccupancy is defined and officeOccupancyStatus|length and officeOccupancyStatus[0] == 1 %}
                                                <div class="staff-msg">
                                                    <a data-toggle="modal"  data-target="#exit_office" data-route="{{ path('office_exit', {'id': officeOccupancy.id}) }}"
                                                       class="btn btn-custom common-modal">Exit</a>
                                                </div>
                                            {% endif %}
                                            &nbsp; &nbsp;
                                            <a href="{{ path('office_list') }}" class="btn btn-custom">Office list</a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <ul class="personal-info">
                                            <li>
                                                <span class="title">Phone:</span>
                                                <span class="text"><a href="">{{ office.phoneNumber }}</a></span>
                                            </li>
                                            <li>
                                                <span class="title">City:</span>
                                                <span class="text"><a href="">{{ office.city }}</a></span>
                                            </li>
                                            <li>
                                                <span class="title">Country:</span>
                                                <span class="text">{{ office.country }}</span>
                                            </li>
                                            <li>
                                                <span class="title">Address:</span>
                                                <span class="text">{{ office.address }}</span>
                                            </li>
                                            <li>
                                                <span class="title">State:</span>
                                                <span class="text">{{ office.state }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    You can enter any office
                    &nbsp;<a href="{{ path('office_list') }}">Office list</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'office/office_entry_modal.html.twig' %}
    {% include 'office/office_exit_modal.html.twig' %}
{% endblock %}
