{% extends 'user/email/email_layout.html.twig' %}

{% block content %}
    <hr align="left" style="border-top: dotted 1px;" />
    <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
        <td class="wrapper last" style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#595959;font-family:'Helvetica', 'Arial', sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;padding-top:10px;padding-bottom:0px;padding-left:0px;position:relative;padding-right:0px;" >
            <h4 style="color:#595959;font-family:'Helvetica', 'Arial', sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:left;line-height:1.3;word-break:normal;font-size:22px;display:block;margin-top:5px;margin-bottom:15px;margin-right:0;margin-left:0;" >Hi {{ userFirstName|capitalize }}, </h4>
            <p style="color:#595959;font-family:'Helvetica', 'Arial', sans-serif;font-weight:normal;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;margin-bottom:10px;" >
                Welcome to Tech Mahindra, Your account with Tech Mahindra has been created successfully.<br>
                Below are your login credentials
            </p>
        </td>
    </tr>
    <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
        <td class="wrapper last" style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#595959;font-family:'Helvetica', 'Arial', sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;padding-top:10px;padding-bottom:0px;padding-left:0px;position:relative;padding-right:0px;" >
            <u><h3 style="color:#595959;font-family:'Helvetica', 'Arial', sans-serif;font-weight:bold;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:left;line-height:1.3;word-break:normal;font-size:14px;display:block;margin-top:5px !important;margin-bottom:5px !important;margin-right:0 !important;margin-left:0 !important;" >Login Credentials</h3></u>
            <div >
                <p><b>Username :</b>  {{ username }}</p>
                <p><b>Password :</b>  {{ password }}</p>
            </div>
        </td>
    </tr>
    <tr style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;text-align:left;" >
        <td class="wrapper last" style="word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;vertical-align:top;color:#595959;font-family:'Helvetica', 'Arial', sans-serif;font-weight:normal;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:left;font-size:14px;line-height:19px;padding-top:10px;padding-bottom:0px;padding-left:0px;position:relative;padding-right:0px;" >
            <div >
                <p>To login in to the Portal, <a href="{{ instance_url }}" style="color:#2ba6cb;text-decoration:none;" >{{ instance_url }}</a>  please use your username and password <br>
                    above. If you have any questions please contact Admin</p>
                <br>
                <p><b>Thanks,</b></p>
                <p><b>Tech Mahindra Team</b></p>
            </div>
        </td>
    </tr>
{% endblock %}