{% extends 'base.html.twig' %}

{% block title %}
    Edit User
{% endblock %}

{% block header %}
    <h3 class="page-title">Edit User</h3>
{% endblock %}

{% block breadcrumb %}

    {% set breadcrumbArray = {'Home': path('contact_index'),'Users':path('user_index'),'User edit':path('user_edit',{'id' : user.id}) } %}
    {% set entity = user %}
    {% set breadcrumbs = get_breadcrumbs(entity, breadcrumbArray) %}
    {% include 'master/tree/bread_crumb.html.twig' with {'links': breadcrumbs } %}

{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">

            {{ form_start(edit_form, {attr: {novalidate: 'novalidate'}}) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(edit_form.username, { 'attr':{'readonly':'true'}}) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(edit_form.email) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(edit_form.firstName) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(edit_form.lastName) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(edit_form.organization) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(edit_form.roles) }}
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(edit_form.departments) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(edit_form.manager) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="btn btn-primary" type="submit" value="Save Changes"/>
                    {{ form_end(edit_form) }}
                    <a class="btn btn-dark" href="{{ path('user_index') }}">Back to the list</a>
                </div>
            </div>

            <div id="current-user-id" data-id="{{ user.id }}"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-edit') }}
{% endblock %}