{% extends 'base.html.twig' %}

{% block title %}
    Edit User
{% endblock %}

{% block header %}
    <h3 class="page-title">Edit User</h3>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">

            {{ form_start(edit_form, {attr: {novalidate: 'novalidate'}}) }}

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    {{ form_row(edit_form.username) }}
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    {{ form_row(edit_form.email) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    {{ form_row(edit_form.firstName) }}
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    {{ form_row(edit_form.lastName) }}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    {{ form_row(edit_form.employeeId) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    {{ form_row(edit_form.roles) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input class="btn btn-primary" type="submit" value="Save Changes"/>
                    {{ form_end(edit_form) }}
                    <a class="btn btn-dark" href="{{ path('user_index') }}">Back to the list</a>
                </div>
            </div>

            <div id="current-user-id" data-id="{{ user.id }}"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('user-edit') }}#}
{% endblock %}