{% extends 'base.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block header %}
    <h3 class="page-title">Employee list</h3>
{% endblock %}

{% block body %}
    <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Is enabled</th>
                        <th>Created at</th>
                        <th>Created by</th>
                        <th>Last login at</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr {% if not user.isEnabled %}class="table-danger"{% endif %}>
                        <td>{{ user.username }}</td>
                        <!-- <td>{{ user.username }}</td> -->
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{% if user.isEnabled %}Yes{% else %}No{% endif %}</td>
                        <td>{% if user.createdAt %}{{ user.createdAt|date('d-M-Y') }}{% endif %}</td>
                        <td>{{ user.createdBy }}</td>
                        <td>{% if user.lastLoginAt %}{{ user.lastLoginAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a class="dropdown-item" href="{{ path('user_edit', { 'id': user.id }) }}"><i class="fa fa-pencil m-r-5"></i></a>
                                {% if user.isEnabled %}
                                    <a class="node-action dropdown-item common-modal" data-toggle="modal"  data-target="#deactivate_record" data-route="{{ path('user_toggle_activation', { 'id': user.id }) }}">
                                        <i class="fa fa-unlock m-r-5"></i>
                                    </a>
                                {% else %}
                                    <a class="node-action dropdown-item common-modal" data-toggle="modal"  data-target="#activate_record" data-route="{{ path('user_toggle_activation', { 'id': user.id }) }}">
                                        <i class="fa fa-lock m-r-5"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    {% include 'user/activate_modal.html.twig' %}
    {% include 'user/deactivate_modal.html.twig' %}
{% endblock %}
