{% extends 'base.html.twig' %}

{% block title %}
    Change Password
{% endblock %}

 {% block header %}
     <h3 class="page-title">
         {{ app.user.username }} Change Password
     </h3>
 {% endblock %}

{% block body %}
    <div class="card">
    <div class="card-body">
    <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form method="post" class="form-horizontal" novalidate>
                    <div class="form-body" style="min-height: 300px;">
                        {{ form_errors(form) }}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 clear-both">{{ form_row(form.password) }}</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 clear-both">{{ form_row(form.rawPassword.first) }}</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{ form_row(form.rawPassword.second) }}</div>

                        {{ form_row(form._token) }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-actions right">
                        <button class="btn btn-primary" type="submit" value="Save">Save</button>
                        <a class="btn btn-dark" href="{{ path('office_list') }}">Back to the list</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}