{% extends 'base.html.twig' %}

{% block title %}
    Change Password
{% endblock %}

 {% block stylesheets %}

 {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Change Password</h4>
                    <p class="card-description">
                        Change Password
                    </p>
                    <form method="post" class="forms-sample" novalidate>
                        {{ form_errors(form) }}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group clear-both">{{ form_row(form.password) }}</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group clear-both">{{ form_row(form.rawPassword.first) }}</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">{{ form_row(form.rawPassword.second) }}</div>

                        {{ form_row(form._token) }}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-actions right">
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <a class="btn btn-light" href={{ path('home_page') }}>Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
